.container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.friendsList {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.friendsItem {
    padding: 10px;
    border: 1px solid #858585;
    border-radius: 3px;
    text-align: center;
}